body{
    padding-left: 50px;
    padding-right: 50px;
  }
.header{
    background-color: black;
    padding: 50px;
    background-image: url("caravaggio-italian-baroque-master-1.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: 50% 40%;
}